* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    border: 5px black solid;
    width: 350px;
    height: 350px;
    display: grid;
    user-select: none;
}

.grid-item {
    border: 1px lightgrey solid;
    user-select: none;
}

.grid-item.hover {
    background-color: black;
}

