/* This app is styled mobile-first. Added styles for wider screens follow below */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

/* Grid and grid items */
.grid {
    border: 5px black solid;
    width: 350px;
    height: 350px;
    display: grid;
    user-select: none;
}

.grid-item {
    border: 1px lightgrey solid;
    user-select: none;
}

.grid-item.noBorder {
    border: none;
}

/* Bottom section */
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons */
.colorOptions, #resetRemoveButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    height: 40px;
    width: 120px;
    margin: 5px 10px;
    border: none;
    background-color: rgb(236, 154, 154);
    border-radius: 15px;
}

.btn#reset {
    background-color: rgb(189, 213, 235);
}

.btn#removeGrid {
    background-color: bisque;
}

.colorOptions .btn.active {
    transform: scale(1.05);
    box-shadow: 0 0 3px;
}

/* Size description */
.sizeDescription {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

/* Footer */
#footer {
    text-align: center;
    color:white;
    background-color: navy;
    font-size: 10px;
    width: 100%;
}

#footer a {
    text-decoration: none;
    color: white;
}

/* Slider styling */
.sizeSlider {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#rangeSize {
    width: 75%
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: navy;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px; 
    background: navy;
    cursor: pointer;
}