
/* This app is styled mobile-first. Added styles for wider screens follow below */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    overscroll-behavior-y: contain;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;

}

/* Grid and grid items */
.grid {
    border: 5px black solid;
    width: 350px;
    height: 350px;
    display: grid;
    user-select: none;
}

.grid-item {
    border: 1px lightgrey solid;
    user-select: none;
}

.grid-item.noBorder {
    border: none;
}

/* Bottom section */
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons */
.colorOptions, #resetRemoveButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    height: 40px;
    width: 120px;
    margin: 5px 10px;
    border: none;
    background-color: rgb(236, 154, 154);
    border-radius: 15px;
}

.btn:hover {
    transform: scale(0.98);
    opacity: 0.9;
}

.btn#reset {
    background-color: rgb(189, 213, 235);
}

.btn#removeGrid {
    background-color: bisque;
}

.colorOptions .btn.active {
    transform: scale(1.05);
    box-shadow: 0 0 3px;
}

/* Size description */
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sizeDescription {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

/* Footer */
#footer {
    text-align: center;
    color:white;
    background-color: navy;
    font-size: 10px;
    width: 100%;
    height: 1.5rem;
}

#footer a {
    color: white;
}

/* Slider styling */
.sizeSlider {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#rangeSize {
    width: 75%
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: navy;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px; 
    background: navy;
    cursor: pointer;
}

@media (min-width: 450px) {
    .grid {
        width: 400px;
        height: 400px;
    }

    .btn {
        font-size: 20px;
        width: 160px;
        height: 45px;
    }

    .sizeDescription {
        font-size: 20px;
    }
}

@media (min-width: 550px) {
    .grid {
        width: 500px;
        height: 500px;
    }

    .sizeDescription {
        font-size: 25px;
    }

    h1 {
        font-size: 36px;
    }

    .btn {
        font-size: 25px;
        height: 60px;
    }
}

@media (min-width: 900px) {
    .content {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }

    .colorOptions .btn.active {
        box-shadow: 0 0 6px;
    }

    #resetRemoveButtons {
        flex-direction: column;
    }

    .colorOptions {
        flex-direction: column;
    }

    .grid {
        width: 650px;
        height: 650px;
    }

    .sizeDescription {
        font-size: 30px;
    }

    h1 {
        font-size: 48px;
    }

    .btn {
        height: 80px;
    }
}

@media (min-width: 1100px) {
    h1 {
        font-size: 70px;
    }

    .grid {
        width: 700px;
        height: 700px;
    }

    .btn {
        width: 200px;
        font-size: 32px;
    }
}